
.tresnan-hero{
    background: linear-gradient(rgba(0,0,0,0.5),
	 rgba(0,0,0,0.3)),
	  url('.././img/bg_header1.jpg');
    width: 100%;
    height: 410px;
    background-size: cover;
    background-position: center center;
    margin:0;
} 

.tresnan-hero-content{
    text-align: center;
    vertical-align: middle;
    padding-top: 120px;
}

.tresnan-welcome-header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: white
}

.tresnan-welcome-caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink
}

.tresnan-card-image{
    max-height:280px;
    object-fit: none;
    object-position: center
}